:root {
	--green-color: #4CAF50:
}

@keyframes slide {
	0% {
	  background-position: left bottom;
	}
	100% {
	  background-position: right bottom;
	}
}

@keyframes move {
	0% {
		border: solid 1px #ffffff;
		opacity: 1;
	}
	50% {
		border: solid 1px #1bb422;
		opacity: 0.7;
	}
	100% {
		border: solid 1px #ffffff;
		opacity: 1;
	}
}

body {
	overflow-x: hidden;
	display: block;
	background-color: #222;
	backface-visibility: visible;
	color: #eee;
	width: 22rem;
	height: 30rem;
	background-image: url('images/no_back_icon.png');
	background-repeat: no-repeat;
	background-position: right 8px top 8px;
	background-size: 100px;
}

h1 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

hr {
	border: none;
	border-bottom: 1px solid #444;
	margin-bottom: 0.5rem;
}

.special-text {
	color: red;
}

#task-list {
	display: flex;
	flex-wrap: wrap;
}

.task-status {
	display: inline-block;
	margin: 5px;
	font-size: 1.2rem;
	padding: 5px;
	border-radius: 5px;
	width: calc(20%);
}

.selects {
	margin-bottom: 10px;
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
}

.selects input {
	display: none;
}

.selection {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.selection input:checked+div {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	opacity: 50%;
}

button {
	background: none;
	border: 1px solid;
	border-radius: .125rem;
	font: inherit;
	line-height: 1;
	margin: 0.5em;
	padding: 1em 2em;
	color: #a10aa1;
	transition: 0.25s;
}

.error {
	background-color: #c91b1b;
	border-color: #c91b1b;
	color: #fff;
}

button:hover {
	border-color: #a10aa1;
	color: #fff;
}
.slide {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}

.slide:hover {
	box-shadow: #a10aa1;
}
.task-status {
	display: inline-block;
	padding: 8px 3px;
	background-color: rgba(0, 128, 0, 0.2);
	cursor: pointer;
	user-select: none;
	text-align: center;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s, opacity 0.3s ease;
}
.task-status.green {
	
	background-color: rgba(3, 124, 3, 0.062);
	box-sizing: border-box;
	border: solid 1px #d6f5d896;
	font-family: "aktiv-grotesk", sans-serif;
	font-size: 14px;
	background-image: url('images/approval-16.png');
	background-size: 20%;
	opacity: 0.7;
	background-repeat: no-repeat;
	background-position: center left 4px;
	text-align: center;
	padding-left: 14px;
}

.task-status.green input {
	display: none;
}


.task-status.green.checked {
	background-color: #45a04933;
	border: solid 1px #1bb422;
	opacity: 1;
	box-sizing: border-box;
	font-family: "aktiv-grotesk", sans-serif;
	font-size: 14px;
}


.task-status.red {
	background-color: rgba(255, 0, 0, 0.082);
	border: solid 1px #f3cece7e;
	box-sizing: border-box;
	font-family: "aktiv-grotesk", sans-serif;
	font-size: 14px;
	background-image: url('images/x-94.png');
	background-size: 20%;
	opacity: 0.7;
	background-repeat: no-repeat;
	background-position: center left;
	background-position: center left 4px;
	text-align: center;
	padding-left: 14px;
}

.task-status.red input {
	display: none;
}


.task-status.red.checked {
	background-color: #330000;
	border: solid 1px #ff0000;
	box-sizing: border-box;
	opacity: 1;
	font-family: "aktiv-grotesk", sans-serif;
	font-size: 14px;
}

.task-status.running {
	cursor: not-allowed;
}

.task-status.running {
	animation: move 1s linear infinite;
}